<div class="ui basic modal">
  <div class="ui icon header">
    <i class="archive icon"></i>
    Create a new Bucket
  </div>
  <div class="content">
    <div class="ui form">
      <div class="fields">
        <%= form_for @bucket do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>

          <%= f.label :title %>
          <%= f.text_field :title %>

          <%= f.label :caption %>
          <%= f.text_field :caption %>
      </div>
        <%= f.fields_for :goals, @bucket.goals.build do |g| %>
        <div class="fields">
          <%= render 'goals/field', :g => g %>
        </div>
        <% end %>

      <button class='ui green left float button' id='add-button' data-url='/goals/new'>add</button>

      <div class="fields">
        <div class="field">
          <input name='[hashtag]' placeholder="enter tags separated by a comma.." />
        </div>
      </div>

      <div class="actions">
        <%= f.submit 'Create', class: "ui green right float ok inverted button" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
