<div class="ui vertical masthead center aligned segment">
  <div class='content'>
    <h1 class="header">
      <img class="ui small circular centered image" src="<%= @user.avatar %>">
      <%= @user.username %>
      <% if @user == current_user %>
      <%= render 'create' %>
      <%= render 'edit_profile' %>

      <div class="ui dropdown item" id="hybrid">
        <i class="grey ellipsis horizontal icon"></i>
        <select id="myselect">
          <option></option>
          <option id="add-new-bucket">create bucket</option>
          <option>edit profile</option>
          <option id="sign-out">sign out</option>
        </select>
      </div>
      <br />
      <a class="ui button" href='/users/<%= current_user.slug %>/edit'>edit bio</a>
      <button id="add-bucket" class="ui button">Create bucket</button>

      <% else%>
        <% if current_user.following.include?(@user) %>
          <%= render 'buckets/unfollow_button' %>
        <% else %>
          <%= render 'buckets/follow_button' %>
        <% end %>
      <% end %>
    </h1>
  </div>
  <h4>
    <%= @user.bukets.count %> buckets | 100 accomplished | <%= @user.followers.count %> followers | <%= @user.following.count %> following
  </h4>
  <p><%= @user.bio %></p>

  <h1 class="header">
    "<%= @bucket.title %>"
  </h1>
  <h2><%= @bucket.caption %></h2>
