<div class="ui vertical masthead center aligned segment">
  <div class='content'>
    <h1 class="header">
      <img class="ui small circular centered image" src="<%= @user.avatar %>">
      <%= @user.username %>
      <% if @user == current_user %>
      <%= render 'create' %>
      <%= render 'edit_profile' %>

      <div class="ui dropdown item" id="hybrid">
        <i class="grey ellipsis horizontal icon"></i>
        <select id="myselect">
          <option></option>
          <option id="add-new-bucket">create bucket</option>
          <option>edit profile</option>
          <option id="sign-out">sign out</option>
        </select>
      </div>
      <br />
      <button class="ui button">edit bio</button>
      <button id="add-bucket" class="ui button">Create bucket</button>

      <% else%>
      <a class="ui green button">Follow</a>
      <% end %>
    </h1>
  </div>
  <h4>
    <%= @user.bukets.count %> buckets | 100 accomplished | 229 followers | 100 following
  </h4>
  <p><%= @user.bio %></p>

  <h1 class="header">
    "<%= @bucket.title %>"
  </h1>
  <h4><%= @bucket.caption %></h4>

</div>
