<div class="container">
  <div class="ui three stackable link special cards">
  <% @buckets.each do |bucket| %>
  <a class="ui card" href="/buckets/<%= bucket.user.username %>/<%= bucket.id %>">
    <div class="content">
      <div class="right floated meta"><%= bucket.posted_time %></div>
      <img class="ui avatar image" src="<%= bucket.user.avatar %>">
      <%= bucket.user.username %>
    </div>
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="bucket.png">
    </div>
    <div class="content">
      <div class="header">
        <%= bucket.title %>
      </div>
      <div class="description">
        <%= bucket.caption %>
      </div>
      <div class="meta">
        <span class="category">Posted 2 days ago</span>
      </div>
    </div>
    <div class="extra content">
      75 items, 15 completed
    </div>
  </a>
  <% end %>
  </div>
</div>
