<%= render 'buckets/profile_header' %>

<% if @buckets == [] %>
  No buckets yet!
<% else %>

<div class="container">
<div class="ui link cards">
  <div class="ui three stackable link cards">
  <% @buckets.each do |bucket| %>
  <a class="card" href="/buckets/<%= @user.username %>/<%= bucket.id %>">
    <div class="image">
      <img src="/bucket.png">
    </div>
    <div class="content">
      <div class="header">
        <%= bucket.title %>
      </div>
      <div class="description">
        <%= bucket.caption %>
      </div>
      <div class="meta">
        <span class="category">Posted 2 days ago</span>
      </div>
    </div>
    <div class="extra content">
      75 items, 15 completed
    </div>
  </a>
  <% end %>
</div>
</div>
</div>

<% end %>
