<div class="ui vertical masthead center aligned segment">
  <div class='content'>
    <h1 class="header">
      <img class="ui small circular centered image" src="<%= @user.avatar %>">
      <%= @user.username %>
      <% if @user == current_user %>
      <div class="ui dropdown item" id="hybrid">
        <i class="grey ellipsis horizontal icon"></i>
        <select>
          <option id="add-new-bucket">create bucket</option>
          <option>edit profile</option>
          <option>Blue</option>
          <option>Green</option>
        </select>
      </div>
      <% else%>
      <a class="ui green button">Follow</a>
      <% end %>
    </h1>
  </div>
  <p>
    <%= @user.bukets.count %> buckets | 229 followers | 100 following
  </p>
  <h3><%= @user.bio %></h3>
  <button class="ui button">edit bio</button>
  <button id="add-new-bucket" class="ui button">Create bucket</button>
</div>

<% if @buckets == [] %>
  No buckets yet!
<% else %>
<div class="ui link cards">
  <div class="card">
    <div class="image">
      <img src="/bucket.png">
    </div>
    <div class="content">
      <% @buckets.each do |bucket| %>
      <div class="header">
        <%= bucket.title %>
      </div>
      <div class="description">
        <%= bucket.caption %>
      </div>
      <div class="meta">
        <span class="category">Posted 2 days ago</span>
      </div>
    </div>
    <div class="extra content">
      75 items, 15 completed
    </div>
  </div>
  <% end %>
</div>
<% end %>
