<%= render 'buckets/profile_header' %>
</div>

<% if @buckets == [] %>
  No buckets yet!
<% else %>

<div class="container">
<div class="ui link cards">
  <div class="ui three stackable link cards">
  <% @buckets.each do |bucket| %>
  <a class="card" href="/buckets/<%= @user.username %>/<%= bucket.id %>">
    <div class="image">
      <img class="image" src="/bucket-icon.png">
    </div>
    <div class="content">
      <div class="header">
        <%= bucket.title %>
      </div>
      <div class="description">
        <%= bucket.caption %>
      </div>
      <div class="meta">
        <span class="category"><%= bucket.posted_time %> ago</span>
      </div>
    </div>
    <div class="extra content">
      <% if bucket.goals.count %>
        <%= bucket.goals.count %> items,
        <% @count = 0 %>
        <% bucket.goals.each do |goal| %>
          <% if goal.completed == true %>
            <%= @count += 1 %>
          <% end %>
        <% end %>
        <%= @count %> completed <br />
      <% else %>
        0 items <br />
      <% end %>

      <% bucket.tags.each do |tag| %>
        #<%= tag.tag %>
      <% end %>
    </div>
  </a>
  <% end %>
</div>
</div>
</div>

<% end %>
