show the goals index of specfic bucket
<%= render 'buckets/profile_header' %>
<% @tags.each do |tag| %>
  #<%= tag.tag %>
<% end %>
</div>

<div class="container">
  <div class="ui link cards">
    <div class="ui three stackable link cards">
      <% @bucket.goals.each do |goal| %>
      <a class="ui card" href='/buckets/<%= @user.slug %>/<%= @bucket.id %>/<%= goal.slug %>'>
        <div class="content">
          <div class="right floated meta"><%= goal.posted_time %></div>
          <img class="ui avatar image" src="<%= @user.avatar %>"> <%= @user.username %>
        </div>
        <div class="image">
          <img src="/pic.jpg">
        </div>
        <div class="content">
          <div class="content">
            <strong><%= @user.username %></strong> <%= goal.title %>
            <%= goal.caption %>
          </div>

          <span class="right floated">
            <i class="heart outline like icon"></i>
            17 likes
          </span>
          <i class="comment icon"></i>
          3 comments
        </div>
        <div class="extra content">
          <div class="ui large transparent left icon input">
            <i class="heart outline icon"></i>
            <input type="text" placeholder="Add Comment...">
          </div>
        </div>
      </a>
      <% end %>
    </div>
  </div>
</div>
