<!DOCTYPE html>
<html>
  <head>
    <title>Bucket</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
      <div class="pusher">
      <%= render 'layouts/navbar' %>
      <div id='body'>
        <div id='main'>
          <%= yield %>
        </div>
      </div>
    </div>
    </body>
    <footer>
      <div id='footer'>
        &copy; S0L 2016
      </div>
    </footer>

</html>
